/*
  Student Name: Noah Hamblen
  File Name: styles.css
  Date: 11/25/24
*/

/* CSS started as a mobile first design */

/* Style rules for logo on the top left */
.logo {
  width: 5em;
  height: auto;
}

.header_1 {
  display: flex;
  align-items: center; /* Vertically centers items */
  gap: 40px; /* Adds space between the logo and heading */
}
