* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.headerbox {
    background-color: #1F2937;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.subheadercontent {
    padding: 70px 0 70px 0;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    flex-wrap: wrap;
}

.subheadercontent p {
    text-wrap: wrap;
}

.subheadercontent img {
    padding-left: 100px;
}


nav {
    display: flex;
    gap: 40px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.subheadercontent p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    max-width: 30%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #1F2937;
    padding: 10px;
    color: #E5E7EB;
}
