/*
  Author Name: Noah Hamblen
  File Name: index.html
  Date: 1/18/25
  CSS made with a mobile-first approach (tablet and desktop views at the bottom)
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Header styling */
#header_box {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#header_1 {
  display: flex;
  align-items: center; /* Vertically centers items */
}

#header_1 h1 {
  font-size: 2em;
}

#nh_logo {
  height: auto;
  width: 5em;
}
