/*
  Author Name: Noah Hamblen
  File Name: index.html
  Date: 1/18/25
  CSS made with a mobile-first approach (tablet and desktop views at the bottom)
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Header styling */
#header_box {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#header_1 {
  display: flex;
  align-items: center; /* Vertically centers items */
}

#header_1 h1 {
  font-size: 2em;
}

#nh_logo {
  height: auto;
  width: 5em;
}

/* Hamburger styling */

.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 2vh;
  right: 1vw;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 2vh;
  right: 0.5vh;
  background-image: radial-gradient(#d1ecf7, #d1ecf7);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 60vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  padding: 1rem 2rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all 0.4s;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(50);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 2rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
